<h1>Listing voice_talent_users</h1>

<%= link_to 'Add', new_voice_talent_user_path %>

<table id="voice-talent-admin" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Talent Name</th>
      <th>Veteran?</th>
      <th>Rate: Full Script (48 hr)</th>
      <th>Rate: Rush Full Script (24 hr)</th>
      <th>Rate: Partial Script</th>
      <th>Rate: Rush Partial Script</th>
      <th>Rate: Correction</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @voice_talent_users.each_with_index do |voice_talent_user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= voice_talent_user.first_name + ' ' + voice_talent_user.last_name %></td>
        <td><%= voice_talent_user.is_veteran == true ? 'Y' : 'N' %></td>
        <td><%= voice_talent_user.full_rate %></td>
        <td><%= voice_talent_user.rush_full_rate %></td>
        <td><%= voice_talent_user.partial_rate %></td>
        <td><%= voice_talent_user.rush_partial_rate %></td>
        <td><%= voice_talent_user.correction_rate %></td>
        <td><%= link_to 'Edit', edit_voice_talent_user_path(voice_talent_user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

