<%= form_for(@task,  html: { :class => 'form-horizontal', role: 'form'}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-xs-9">
	<div class="row">
		<div class="col-xs-3 control-label">
			<%= f.label :voice_talent_user_id, 'Voice Talent Name *' %>
		</div>
		<div class="col-xs-6">
			<%= f.select :voice_talent_user_id, voice_talent_options, :prompt => '- Select Voice Talent -' %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 control-label">
			<%= f.label :content_ops_id, 'Voice Request Alias *' %>
		</div>
		<div class="col-xs-6">
			<%= f.select :content_ops_id, content_ops_options, prompt: '- Select Voice Request Alies -' %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 control-label">
			<%= f.label :client_id, 'Client Name' %>
		</div>
		<div class="col-xs-6">
			<%= f.select :client_id, client_options, { prompt: '- Select Client-' } %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 control-label">
			<%= f.label :video_title, 'Video Title *' %>
		</div>
		<div class="col-xs-6">
			<%= f.text_field :video_title, size: 61, maxlength:10 %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 control-label">
			<%= f.label :type_script, "Type of script *" %>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-4">
					<%= f.select :type_script, type_script_options, { prompt: '- Select type script -' } %>
				</div>
				<div class="col-xs-8">
					<div class="row">
						<div class="col-xs-8 control-label">
							<%= f.label :number_chapters, '# of Chapters *' %>
						</div>
						<div class="col-xs-4">
							<%= f.number_field :number_chapters, min: 1, max: 99 %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-3 control-label">
			<%= f.label :notes, "#{:notes}" %>
		</div>
		<div class="col-xs-6">
			<%= f.text_area :notes, maxlength: 250, cols: 63, rows: 4 %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 control-label">
			<%= f.label :due_date, 'Due Date *' %>
		</div>
		<div class="col-xs-2">
			<%= f.date_field :due_date, min: next_work_date %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 control-label">
			<%= f.label :rush, 'Rush *' %>
		</div>
		<div class="col-xs-6">
			<%= f.select :rush, rush_options %>
			<small>Please select Yes only if you need within 24 hours.</small>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-3 control-label">
			<%= f.label :rate , 'Rate' %>
		</div>
		<div class="col-xs-6">
			<p class="form-control-static">12.3</p>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-3 control-label">
			<%= f.label :rush, 'Upload script *' %>
		</div>
		<div class="col-xs-6">
			<%= f.file_field :rush, accept: 'application/pdf' %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9">
			* You must fill in these fields to create a new task.
		</div>
		<div class="col-xs-3">
			<%= f.submit 'Create Request'%>
		</div>
	</div>
  </div>
  <div class="col-xs-3">
  </div>
</div>
<% end %>
