<p id="notice"><%= notice %></p>

<p>
  <strong>Voice Talent Name: </strong>
  <%= @task.voice_talent_user.first_name %>
</p>

<p>
  <strong>Voice Request Alias: </strong>
  <%= @task.content_ops.first_name %>
</p>

<p>
  <strong>Client Name: </strong>
  <%= @task.client.name %>
</p>

<p>
  <strong>Video Title: </strong>
  <%= @task.video_title %>
</p>

<p>
  <strong>Type of script: </strong>
  <%= @task.type_script %>

  <% if @task.partial? %>
    <strong>Number chapters: </strong>
    <%= @task.number_chapters %>
  <% end %>
</p>


<p>
  <strong>Notes:</strong>
  <%= @task.notes %>
</p>

<p>
  <strong>Rush:</strong>
  <%= @task.rush %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @task.rate %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<%= link_to 'Back', tasks_path %>
