<h1>Listing vt_files</h1>

<table>
  <thead>
    <tr>
      <th>Path file</th>
      <th>Task</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vt_files.each do |vt_file| %>
      <tr>
        <td><%= vt_file.path_file %></td>
        <td><%= vt_file.task_id %></td>
        <td><%= vt_file.type %></td>
        <td><%= link_to 'Show', vt_file %></td>
        <td><%= link_to 'Edit', edit_vt_file_path(vt_file) %></td>
        <td><%= link_to 'Destroy', vt_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vt file', new_vt_file_path %>
