<p id="notice"><%= notice %></p>

<p>
  <strong>Path file:</strong>
  <%= @vt_file.path_file %>
</p>

<p>
  <strong>Task:</strong>
  <%= @vt_file.task_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @vt_file.type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vt_file.status %>
</p>

<%= link_to 'Edit', edit_vt_file_path(@vt_file) %> |
<%= link_to 'Back', vt_files_path %>
