<!DOCTYPE html>
<html>
<head>
  <title>Voice Talent Manager</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
 <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container">
  	 <a class="navbar-brand" href="<%= root_path %>">Voice Talent Manager</a>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>

 </header>
<div class="container master-container">
<ul class="breadcrumb">
<%= yield :breadcrumb %>
</ul>
<div class='alert alert-info fade in' data-alert='alert'>
	<h3>
		<strong>
			Voice Talent Manager, Create New Task.
		</strong>
	</h3>
</div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %>
          <a class="close" data-dismiss='alert' href="#">×</a>
        </div>

      <% end %>
<%= yield %>
</div>

<footer class="footer">
	<div class="container">
		<p>Copyright 2014<a href="http://gs.com"> VTMan</a></p>
		<ul class="footer-links">
  			<li><a href="http://gs">GS</a></li>
  			<li class="muted">·</li>
		</ul>
	</div>
</footer>
<%= javascript_include_tag "application" %>
</body>
</html>
